
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 2rem;
  margin: 0;
  margin-left: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333333;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #0088cc;
}

.portfolio {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.portfolio p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.portfolio img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about img {
  display: block;
  max-width: 100%;
  margin: 2rem auto;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.image {
  flex: 1;
  margin-right: 20px;
}

.text {
  flex: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .image {
    margin: 20px 0;
  }
}

.footer {
  background-color: #fff;
  color: #333;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #ccc;
}

.footer p {
  margin: 0;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-nav li {
  margin: 0 10px;
}

.footer-nav li a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-nav li a:hover {
  color: #333;
}